.logo-company{
    min-width: 142px;
}

.floating-chat-menu{
    background: transparent;
}

.floating-chat-menu > img{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

.ui.secondary.pointing.menu{
    font-family: Raleway;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: 1.1px;
    text-align: center;
    color: #003948;
    border-bottom: none;
}

.zp-dss-language{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: 1.1px;
    text-align: center;
    color: #003948;
}

.zp-dss-right-menu{
    padding-left: 5px;
    padding-right: 10px;
}

.zp-dss-notif{
    background-color: #d0021b;
    border-radius: 100px;
    padding: 2px;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    position: absolute;
    top: 10px;
    font-size: 9px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
}

.zp-dss-image-dashboard{
    background-position-y: -80px!important;
}

.zp-dss-imagegsk{
    right: 10%;
    top: 35%;
    width: 100px;
    position: absolute;
}

.ui.text.container{
    background-size: 100%!important;
    background-repeat: no-repeat!important;
    max-width: 100%!important;
    width: 100%;
    min-height: 270px;
}

.ui.vertical.segment{
    border-bottom: none;
}

.ui.table thead th{
    background: #005d62;
    color: #ffffff;
    font-family: Raleway;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: 0.7px;
    text-align: center;
    text-transform: uppercase;
}

.zp-dss-processing{
    background: #f8b21c;
    font-family: Raleway;
    font-size: 9px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    padding: 8px;
    text-transform: uppercase;
}

.zp-dss-approved{
    background: #729748;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    padding: 8px;
    text-transform: uppercase;            
}

.zp-dss-viewdata{
    font-family: Raleway;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: 0.7px;
    text-align: center;
    color: #003948;
    text-transform: capitalize;
}

.table .ui.pagination.menu{
    border: none;
    background: transparent;
    box-shadow: none;
}

.table .ui.menu .item{
    position: static;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    text-align: center;
    color: #003948;
}

.table .ui.menu .icon.item  {
    border-radius: 0px;
    border: 0px;
}

.table .ui.menu .item  {
    border-radius: 100px;
    border: solid 2px #ebebeb;
}

.ui.pagination.menu .active.item{
    border-radius: 100px;
    background-color: #005d62;
    color: #ffffff;
}

.hidden.menu {
    display: none;
}

.masthead.segment {
    /* min-height: 700px; */
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.title-looking-answer{
    font-family: Raleway;
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.sixteen.wide.column.title-faq{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    text-align: left;
    color: #003948;
}

.sixteen.wide.column.content-faq{
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: left;
    color: #000000;
}

.page-result-faq{
    font-family: Raleway;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: 0.7px;
    text-align: right;
    color: #000000;
}

.item-faq{
    border-bottom: 1px solid #ebebeb;
}

.sixteen.wide.column a.link-more-faq{
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: right;
    color: #005d62;
}

.small.ui.button.search {
    background-color: #005d62;
    color: #ffffff;
}

.masthead h1.ui.header-backtoview a{
    float: left;
    font-family: Raleway;
    font-size: 10px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 10%;
    margin-top: 0px;
    padding-top: 20px;
}

.masthead h1.ui.header-companyname {
    font-family: Raleway;
    font-size: 42px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 10%;
    margin-top: 0px;
    padding-top: 20px;
}

.masthead h1.ui.header-faqs {
    font-family: Raleway;
    font-size: 42px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 20%;
    margin-top: 0px;
    padding-top: 60px;
}

.header-b2b-main-carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 17%;
    max-width: 476px;
}

.ui.header-b2b-carousel-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.masthead h1.header-b2b-title{
    font-family: Raleway;
    margin-top: 0px;
    padding-top: 71px;
    font-size: 38px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: left;
    color: #005a91;
}

.header-b2b-carousel-image{
    width: 90px;
    height: 90px;
}

/* custom carousel for heading */
.header-b2b-main-carousel .slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    padding: 0px;
    width: auto !important;
    margin-left: 35px !important;
    list-style: none;
    text-align: center;
    top: 272px;
}

.slick-dots li {
    margin: 0 -3px !important;
}

.header-b2b-main-carousel .slick-prev {
    left: 25px !important;
    top: 290px !important;
    z-index: 1;
    width: 6px !important;
    height: 11px !important;
}

.header-b2b-main-carousel .slick-next {
    left: 80px !important;
    top: 290px !important;
    z-index: 1;
    width: 6px !important;
    height: 11px !important;
}

.video { position: relative; }

.video a {
    position: absolute;
    display: block;
    background: url(http://www.slatecube.com/images/play-btn.png);
    height: 24px;
    width: 24px;
    top: 33px;
    left: 33px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

h3.zp-dss-b2b-manufacture{
    font-family: Raleway !important;
    font-size: 42px !important;
    font-weight: 300 !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33 !important;
    letter-spacing: normal;
    text-align: center !important;
    color: #000000 !important;
    margin-bottom: 38px !important;
    margin-top: -10px !important;
}

.zp-dss-b2b-manufacture-carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.b2b-trending-product{
    background: #005d62 !important;
    padding-bottom: 124px !important;
}

h3.zp-dss-b2b-trending-title{
    font-family: Raleway !important;
    font-size: 42px !important;
    font-weight: 300 !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33 !important;
    letter-spacing: normal;
    text-align: center !important;
    color: #ffffff !important;
    margin-bottom: 13px !important;
    margin-top: 57px !important;
}

.b2b-trending-image-label{
    font-family: Raleway;
    font-size: 11px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: 0.7px;
    text-align: left;
    color: #c3d500;
}

.b2b-trending-image-title{
    font-family: Raleway;
    font-size: 14px !important;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    text-align: left;
    color: #ffffff;
}

.b2b-trending-image-caption{
    font-family: Raleway;
    font-size: 12px !important;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ffffff;
}

.b2b-trending-image-caption > .read-more{
    font-family: Raleway;
    font-size: 12px !important;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: right;
    color: #c3d500;
}

.b2b-trending-image-caption > .read-more > img {
    display: inline !important;
}

.b2b-trending-image-caption img{
    width: 10px;
    height: 8px;
}

.zp-dss-b2b-trending-caption{
    font-family: Raleway;
    font-size: 14px !important;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff !important;
    margin-bottom: 35px !important;
}

.zp-dss-b2b-trending-carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.zp-dss-b2b-trending-carousel .slick-dots li button:before, .zp-dss-b2b-trending-carousel .slick-dots li.slick-active button:before{
    color: #ffffff;
}

.zp-dss-b2b-trending-carousel-content{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center;
}

.zp-dss-b2b-manufacture-image{
    text-align: center;
    height: 140px;
    background-color: #ffffff;
    border: solid 1px rgb(0, 93, 98, .5);
    border: solid 1px #b5c9ca;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.zp-dss-b2b-manufacture-image > img{
    max-width: 160px;
    max-height: 50px;
}

.header-b2b-carousel-caption{
    font-family: Raleway;
    margin-left: 18px;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: left;
    color: #000000;
}

/* custom slick on manufacture carousel */

.zp-dss-b2b-manufacture-carousel-content{
    margin-bottom: 30px;
}

.zp-dss-b2b-manufacture-carousel .slick-prev {
    left: 530px !important;
    top: 376px !important;
    z-index: 1;
    width: 6px !important;
    height: 11px !important;
}

.slick-slide {
    margin: 10px;
}

.zp-dss-b2b-manufacture-carousel .slick-next {
    left: 590px !important;
    top: 376px !important;
    z-index: 1;
    width: 6px !important;
    height: 11px !important;
}

.b2b-trending-carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 1px !important;
}

.btb-trending-carousel-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    height: 187px;
    margin-bottom: 25px;
}

.btb-trending-carousel-image > img{
    width: 100%;
    border: 0;
}

.b2b-healthcare {
    background: #f8f8f8 !important;
    padding-top: 70px !important;
}

.b2b-healthcare-head {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.b2b-healthcare-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 700px;
}
.b2b-healthcare-container > img{
    max-height: 337px;
    margin-bottom: 47px;
}

.b2b-healthcare-label {
    font-family: "Raleway";
    font-size: 14px !important;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: center;
    color: #000000;
    margin-bottom: 0px;
}

.b2b-healthcare-title {
    font-family: Raleway;
    font-size: 42px !important;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-bottom: 13px;
}

.b2b-healthcare-caption {
    font-family: Raleway;
    font-size: 14px !important;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: center;
    color: #000000;
    margin-bottom: 38px;
}

.b2b-healthcare-bg {
    max-height: 403px;
}

.b2b-healthcare-button {
    margin-bottom: 10px;
    font-family: Raleway;
    font-size: 13px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: 1.1px;
    text-align: left;
    color: #ffffff;
    background: #005d62;

    width: 300px;
    height: 50px;
    border-radius: 3px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.b2b-healthcare-button:hover{
    color: #ffffff;
}

.b2b-healthcare-link {
    font-family: Raleway;
    font-size: 12px !important;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: center;
    color: #005d62;
}

.b2b-healthcare-link > img {
    width: 10px;
    height: 8px;
}

.masthead h1.ui.header-view-order {
    font-family: Raleway;
    font-size: 42px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left:10%;
    margin-top: 0px;
    padding-top: 50px;
}

.masthead h1.ui.header {
    font-family: Raleway;
    font-size: 42px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 10%;
    margin-top: 0px;
}

.masthead h1.ui.welcomeback{
    font-family: Raleway;
    font-size: 42px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 10%;
    margin-top: 0px;
    
    font-size: 20px;
    padding-top: 60px;
    margin-bottom: 0px;
}

#info-order .column{
    font-family: Raleway;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: 0.7px;
    text-align: left;
    color: #003948;
    padding-top: 0px;
    padding-bottom: 0px;
}

#detail_order{
    padding-top: 1em;
    min-height: 400px;
}

.zp-dss-focus{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.3px;
    text-align: left;
    color: #000000;
}

.zp-dss-bold{
    font-family: Raleway;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.zp-dss-numberfocus{
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color: #f8b21c;
    width: 60px;
    height: 60px;
    border-radius: 70px;
    position: absolute;
    padding: 7px;
    left: 0px;
}

.zp-dss-pending{
    font-family: Raleway;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
}

.zp-dss-labeltotal{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.3px;
    text-align: left;
    color: #000000;
}

.zp-dss-b2b-labeltotal{
    width: 100%;
}

.zp-dss-b2b-header {
    height: 452px;
}

.zp-dss-totalvalue{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: left;
    color: #f8b21c;
}

.zp-dss-b2b-totalvalue{
    width: 100%;
}

.b2b-labeltotal{
    font-family: Raleway;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
}

.zp-dss-messagealert{
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: left;
    color: #000000;
}

.zp-dss-readmore{
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: right;
    color: #005d62;
}

.zp-dss-middlemessage{
    position: absolute;
    left: 0;
    right: 0;
    top: 85%;
}

.b2b-middlemessage-icon{
    display: flex;
}

.b2b-middlemessage-number{
    font-family: Raleway;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 4px;
    background: #f8b21c;
    /* border: 2px solid #666; */
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
}

.b2b-middlemessage-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    min-width: 200px;
}

.b2b-middlemessage-carousel{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.b2b-middlemessage-carousel-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.zp-dss-containermiddle{
    background-color:#f8f8f8;
    width: 1100px;
    margin: 0px auto!important;
    padding-bottom: 25px!important;
}

.zp-dss-b2b-containermiddle{
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    height: 120px;
}

.zp-dss-containermiddle label{
    text-align: left;
    font-family: Raleway;
    font-size: 12px!important;
    font-weight: bold!important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: 0.7px;
    color: #003948!important;
}

.zp-dss-containermiddle .ui.complete.buttons .button,.ui.complete.button{
    background-color: #729748;
    color: #ffffff;
    font-size: 11px;
    padding: 5px 15px;
}

h3.ui.header-information{
    font-family: Raleway;
    font-size: 21px!important;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

h3.ui.header-sales-rep{
    font-family: Raleway;
    font-size: 21px!important;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

#shipping_information .row{
    padding-bottom: 0px;
    padding-top: 5px;
}

#detail_order .label{
    font-family: Raleway;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: 0.7px;
    text-align: left;
    color: #003948;
}

.instruction .title{
    font-family: Raleway;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: 0.7px;
    text-align: left;
    color: #003948;
}

.instruction .content{
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: left;
    color: #000000;
}

.instruction .column{
    padding-top:0px!important;
    padding-bottom: 0px!important;
}

.zp-dss-footer{
    background:#005d62;
    width: 100%!important;
    padding-left: 50px;
    padding-right: 50px;
    max-height: 60px;
}

.b2b-footer {
    background: #f8f8f8 !important;
}

.zp-dss-copyright{
    font-family: Raleway;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: 0.9px;
    text-align: right;
    color: #ffffff;
}

.ui.menu .item:before{
    width: 0px;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 2em 0em 5em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button+h3,
.ui.vertical.stripe p+h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

.zp-dss-header{
    font-weight: normal;
}

.ui.vertical.footer.segment{
    padding-bottom: 15px;
}


@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large monitor only"]:not(.mobile),
  [class*="widescreen monitor only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
    .floating-chat-menu > img{
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 1;
    }
    .ui.text.container{
        background-position-x: -180px!important;
    }

    .zp-dss-b2b-manufacture-image{
        height: 94px;
    }

    .zp-dss-b2b-manufacture-image > img{
        max-width: 100px;
        max-height: 40px;
    }
    
    .b2b-healthcare-container > img , .b2b-healthcare-container{
        max-width: 90%;
    }
    .b2b-healthcare-bg {
        display: none;
    }

    .b2b-healthcare-head {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .zp-dss-b2b-containermiddle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        height: 270px;
        margin-top: 28px !important;
    }

    .b2b-middlemessage-carousel-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 1;
    }

    h3.zp-dss-b2b-manufacture{
        margin-top: 130px !important;
    }

    .b2b-containermiddle-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .zp-dss-messagealert{
        text-align: center;
    }

    .b2b-labeltotal, .zp-dss-b2b-labeltotal, .zp-dss-b2b-totalvalue {
        text-align: center;
    }

    .slick-dots{
        z-index: 1;
    }

    .b2b-middlemessage-icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .zp-dss-messagealert {
        max-width: 200px;
    }

    .b2b-middlemessage-carousel{
        max-width: 100%;
    }

    .zp-dss-readmore img{
        display: inline !important;
    }

    .b2b-healthcare-label, .b2b-healthcare-title, .b2b-healthcare-caption{
        max-width: 90%;
        margin-bottom: 15px;
    }

    .b2b-healthcare-title, h3.zp-dss-b2b-trending-title, h3.zp-dss-b2b-manufacture{
        font-size: 36px !important;
    }

    .b2b-trending-product{
        padding-bottom: 60px !important;
    }

    .b2b-healthcare{
        padding-top: 40px !important;
    }

    .b2b-healthcare-caption{
        margin-bottom: 40px !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
    .ui.header-b2b-main-carousel {
        max-width: 90%;
    }

    .b2b-middlemessage-content{
        margin-left: 0px !important;
    }
    .ui.text.container{
        height: 620px;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-b2b-main-carousel {
        margin-left: 0px !important;
        padding-top: 36px;
    }
    
    .header-b2b-title{
        text-align: center !important;
        /* width: 250px; */
    }

    .ui.text.container.zp-dss-b2b-header-background{
        margin: 0px!important;
        background: url(../images/cetaphil-iphone.jpg) !important;
        background-position-x: 0px !important;
        background-position-y: 0px!important;
        background-size: 100%!important;
    }
}

@media only screen and (min-width: 360px) and (max-width: 1024px) {

    .ui.visible.uncover.sidebar{
        background: #003948;
    }

    .sidebar .sidebar-logocompany{
        width: 130px!important;
    }

    .ui.sidebar.menu .item{
        color: #ffffff;
        float: left;
        width: 100%;
    }

    .ui.sidebar.menu :nth-child(1){
        width: 70%;
    }

    .ui.sidebar.menu :nth-child(10){
        margin-top: 270px;
    }

    .ui.sidebar.menu .item.zp-dss-language{
        float: right;
        width: auto;
    }

    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .right.item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    .secondary.pointing.menu .header.item,
    .secondary.pointing.menu .toc.item {
        display: block;
    }

    .secondary.pointing.menu .toc.item{
        padding: 10px;
        position: absolute;
        top: 15px;
        font-size: 20px;
    }

    .ui.secondary.pointing.menu .header.item{
        margin: 0px auto;
    }

    .logo-company{
        min-width: 100px;
    }

    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }

    .zp-dss-imagegsk{
        right: 0;
        left: 0;
        width: 60px;
        margin: 0px auto;
    }

    .masthead h1.ui.welcomeback {
        font-size: 18px;
        margin: 0px auto;
        left: 33%;
        position: absolute;
        top: 190px;
        padding-top: 0px;
    }

    .masthead h1.ui.header{
        font-size: 35px;
        margin: 0px auto;
        left: 29%;
        position: absolute;
        top: 215px;
        padding-top: 0px;
    }

    .ui.table:not(.unstackable) thead{
        display: none;
    }

    .ui.vertical.footer.segment{
        padding-bottom: 0px;
    }

    .ui.container.zp-dss-footer{
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
    
    .zp-dss-footer{
        text-align: center;
        max-height: 100%;
    }

    .zp-dss-copyright{
        text-align: center;
    }

}


@media only screen and (max-width: 768px) {
    .b2b-healthcare-container > img {
        max-height: 220px;
    }

    .b2b-healthcare-bg {
        max-height: 205px;
    }

    .b2b-healthcare-container {
        max-width: 345px;
    }

    .zp-dss-b2b-trending-caption, .b2b-trending-image-label, .b2b-trending-image-title, .b2b-trending-image-caption{
        max-width: 90%;
        margin: 0px auto;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .btb-trending-carousel-image{
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 768px) {

    .ui.text.container.zp-dss-b2b-header-background{
        background: url(../images/hero-img-tablet.jpg) !important;
        background-position-x: -160px !important;
    }

    .ui.secondary.pointing.menu .item{
        padding: 12px;
    }


    .zp-dss-middlemessage{
        top: 65%;
    }

    .zp-dss-containermiddle{
        width: 700px;
    }

    .zp-dss-b2b-manufacture-image > img{
        max-width: 100px;
        max-height: 50px;
    }

}

@media only screen and (max-width: 1024px) {
    .header-b2b-main-carousel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 9%;
        max-width: 360px;
    }
}
@media only screen and (min-width: 1024px) {
    
    .ui.text.container.zp-dss-b2b-header-background{
        background: url(../images/hero-img-tablet.jpg) !important;
    }
    
    .zp-dss-containermiddle{
        width: 900px;
    }

    .b2b-healthcare-container > img{
        max-height: 300px;
    }

    .b2b-healthcare-bg {
        max-width: 220px;
    }
}

@media only screen and (max-width: 1280px) {
    .masthead h1.header-b2b-title{
        font-size: 30px;
    }

    /* custom carousel for heading */
    .header-b2b-main-carousel .slick-dots {
        top: 252px;
    }

    .header-b2b-main-carousel .slick-prev {
        left: 25px !important;
        top: 270px !important;
    }

    .header-b2b-main-carousel .slick-next {
        left: 80px !important;
        top: 270px !important;
    }
}

@media only screen and (max-width: 1279px) {
    .zp-dss-b2b-middlemessage{
        top: 77.53%;
    }
}

@media only screen and (min-width: 1280px) {
    
    .ui.text.container.zp-dss-b2b-header-background{
        background: url(../images/hero-img-desktop-hd.jpg) !important;
    }
    
    .zp-dss-footer{
        padding-left: 70px;
        padding-right: 70px;
    }

    .zp-dss-b2b-middlemessage{
        top: 77.63%;
    }

    .b2b-healthcare-container > img{
        max-height: 300px;
    }

    .b2b-healthcare-bg {
        max-width: 300px;
    }

    .header-b2b-main-carousel {
        margin-left: 280px;
        /* max-width: 476px !important; */
    }
}

@media only screen and (min-width: 1440px) {
    .ui.text.container{
        background-size: 100%!important;
    }
    .zp-dss-imagegsk{
        right: 20%;
    }

    .zp-dss-b2b-middlemessage{
        top: 77.76%;
    }

    .zp-dss-b2b-containermiddle{
        width: 1099px;
    }

    .masthead h1.ui.header{
        margin-left: 20%;
    }

    .masthead h1.ui.welcomeback{
        margin-left: 20%;
    }

    .zp-dss-footer{
        padding-left: 150px;
        padding-right: 150px;
    }

}

@media only screen and (min-width: 1900px) {

    .ui.text.container{
        width: 100%;
    }

    .zp-dss-imagegsk{
        right: 25%;
    }

    .masthead h1.ui.header{
        margin-left: 26%;
    }

    .masthead h1.ui.welcomeback{
        margin-left: 26%;
    }

    .zp-dss-footer{
        padding-left: 400px;
        padding-right: 400px;
    }

    .header-b2b-main-carousel{
        margin-left: 535px;
        min-width: 600px;
    }
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    .secondary.pointing.menu .toc.item {
        display: block;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}